<header class="site-header">
    <div class="container">
        <h1 class="title">Cocktail Craze</h1>
        <nav>
            <a href="/">Home</a>
            <a href="https://www.thecocktaildb.com/" target="_blank">About the API</a>
        </nav>
    </div>
</header>